<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <script src="/static/js/lib/html5shiv/html5shiv.js"></script>
  <script src="/static/js/lib/respond/respond.src.js"></script>
  <script src="/static/js/lib/markdown/Markdown.Converter.js"></script>
  <script src="/static/bower_components/angular/angular.js"></script>
  <script src="/static/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="/static/js/lib/angularjs-auth.js"></script>
  <script src="/static/js/lib/ngd.js"></script>
  <script src="/static/js/app.js"></script>

  <!-- angular material design -->
  <link href="/static/bower_components/angular-material/angular-material.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/bower_components/angular-material/themes/orange-theme.css">
  <script src="/static/bower_components/angular-aria/angular-aria.js"></script>
  <script src="/static/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/static/bower_components/hammerjs/hammer.js"></script>
  <script src="/static/bower_components/angular-material/angular-material.js"></script>
  <!-- end -->

  <!-- Google Map -->
  <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
  <script src="http://rawgithub.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script>
  <!-- end -->

  <!-- fonts -->
  <link href="http://fonts.googleapis.com/css?family=Merriweather:300,400,700,900" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet" type="text/css">
  <!-- link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css' -->
  <link href="/static/bower_components/font-awsome/css/font-awesome.css" rel="stylesheet" />
  <!-- end -->

  <link href="/static/css/common.css" rel="stylesheet" />
  <contents-html tag='head'></contents-html>
</head>

<body ng-cloak class="clearfix">
    <div id="contents" class="clearfix">
      <header>
        <div class="pull-left"></div> 
        <div class="center">
          <div class="px1">&nbsp;</div>
          <a href="/"><h1 class="white text-shadow">Allen Kim's Tech Note</h1></a>
        </div>
        <div class="pull-right"></div>
      </header>

      <section class="round-5 padding-20 clearfix">
        <div class="pull-left"></div> 
        <div>
          <div ngd-flash class="green"></div>
          <contents-html tag='body'></contents-html>
        </div> 
        <div class="pull-right"></div>
      </section>

      <footer class="margin-5 round-5 padding-10 white">
        <div class="pull-left"></div> 
        <div></div>
        <div class="pull-right">
          &copy; 2014 Allen Kim.
          This site is developed with 
          <a href="https://github.com/allenhwkim/lean">LEAN</a> framework
          and 
          <a href="https://material.angularjs.org">Angular Material Design</a>.
          <span  ng-controller="LoginController">
            <a ng-if="!Auth.isLoggedIn()" href="/login?redir={{location.pathname}}">
              <md-tooltip>Login As Admininistrator</md-tooltip>
              <i class="fa fa-cog"></i>
            </a>
            <a ng-if="Auth.isLoggedIn()" href="" ng-click="logout()">
              <md-tooltip>Logout</md-tooltip>
              <i class="fa fa-sign-out"></i>
            </a>
          </span>
        </div> 
      </footer>
    </div>
    <script src="/static/sessions/login-controller.js"></script>
</body>
</html>

