<!DOCTYPE html>
<html ng-app="app">
<head>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <script src="/static/js/lib/html5shiv/html5shiv.js"></script>
  <script src="/static/js/lib/respond/respond.src.js"></script>
  <script src="/static/js/lib/markdown/Markdown.Converter.js"></script>
  <script src="/static/bower_components/angular/angular.js"></script>
  <script src="/static/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="/static/js/lib/angularjs-auth.js"></script>
  <script src="/static/js/lib/ngd.js"></script>
  <script src="/static/js/app.js"></script>

  <!-- angular material design -->
  <link href="/static/bower_components/angular-material/angular-material.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/bower_components/angular-material/themes/orange-theme.css">
  <!-- link rel="stylesheet" href="/static/bower_components/angular-material/themes/indigo-theme.css" -->
  <!-- link rel="stylesheet" href="/static/bower_components/angular-material/themes/green-theme.css" -->
  <script src="/static/bower_components/angular-aria/angular-aria.js"></script>
  <script src="/static/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/static/bower_components/hammerjs/hammer.js"></script>
  <script src="/static/bower_components/angular-material/angular-material.js"></script>
  <!-- end -->

  <!-- font-awsome -->
  <link href="/static/bower_components/font-awsome/css/font-awesome.css" rel="stylesheet" />
  <!-- end -->

  <script type="text/javascript" src="/static/js/lib/bubbles-background.js"></script>
  <link href="/static/css/common.css" rel="stylesheet" />
  <contents-html tag='head'></contents-html>
</head>

<body md-theme="orange" ng-cloak class="background-mantle">
  <div layout layout-align="center">
    <div id="contents" layout="vertical">
      <header class="margin-5 round-5 text-shadow bg{{::rand%3+1}}">
        <div layout layout-align="center center" class="round-5"
          ng-class="{fadeout: location.pathname=='/' || location.pathname=='/articles' }">
          <div layout="horizontal" layout-align="center center">
            <img id="logo" float="left" src="/static/images/allen.kim.png"/>
            <div layout="vertical" layout-align="center center" layout-padding>
              <h1 class="margin-0"> Allen Kim<b hide-only="sm">'s Tech. Note</b></h1>
              <sub>The best programming is, No programming.</sub>
            </div>
          </div>
        </div>
      </header>

      <section flex class="margin-5 bg-white round-5 padding-10">
        <div ngd-flash class="green"></div>
        <contents-html tag='body'></contents-html>
        <div style="clear:both"><div>
      </section>

      <footer class="margin-5 round-5 padding-10" ng-controller="LoginController">
        &copy; 2014 Allen Kim.
        This page is developed with <a href="https://github.com/allenhwkim/lean">LEAN</a> framework
        and <a href="https://material.angularjs.org">Angular Material Design</a>.
        <a ng-if="!Auth.isLoggedIn()" href="/login?redir={{location.pathname}}">
          <md-tooltip>Login As Admininistrator</md-tooltip>
          <i class="fa fa-cog"></i>
        </a>
        <a ng-if="Auth.isLoggedIn()" href="" ng-click="logout()">
          <md-tooltip>Logout</md-tooltip>
          <i class="fa fa-sign-out"></i>
        </a>
      </footer>
    </div>
  </div>
  <script src="/static/sessions/login-controller.js"></script>
  <canvas id="background">canvas background</canvas>
  <script>BubblesBackground("canvas#background");</script>
</body>
</html>

