<head>
  <script src="/static/articles/articles-destroy-controller.js"></script>
  <ngd-script src="/articles/{{::article._id}}.json" scope-var="article"></ngd-script>
</head>

<div ng-controller="ArticlesDestroyController">
  <br/>
  Actions:
  <a href="/articles/{{::article._id}}/update">Edit</a>
  <a href="/">List</a> 
  <br/>
  <br/>
  <b>Are you sure to delete this article?</b>
  <a href="" ng-click="destroy()">Yes</a>
  <br/>
  <pre>{{::article.body}}</pre>
  <div>
    <div>Created At:{{::article.createdAt}} </div> 
    <div>Updated At: {{::article.updatedAt}} </div>
    <div>Type: {{::article.type}} </div>
  </div>
</div>
