<head>
  <script src="/static/articles/image.js"></script>
  <script src="/static/articles/articles-update-controller.js"></script>
  <ngd-script src="/articles/{{::article._id}}.json" scope-var="article"></ngd-script>
  <style>
    .dragover {background: green}
  </style>
</head>

<div ng-controller="ArticlesUpdateController">
  <br/>
  Actions:
  <a href="/articles/{{::article._id}}">Show</a>
  <a href="/">List</a> 
  <a href="/articles/{{::article._id}}/destroy">Delete</a> 
  <br/>
  <br/>
  <form novalidate name="form" ng-submit="save()" ngd-form-unsaved>
    <div id="tabs" ng-init="tab='edit'">
      <a href="" ng-click="tab='edit'">Edit</a>
      <a href="" ng-click="preview()">Preview</a>
    </div>
    <div ng-show="tab=='edit'">
      <textarea name="body" autofocus required wrap="off" cols="80" rows="10"
        ng-model="article.body"
        ngd-auto-height
        ngd-image-drop
        ngd-image-paste
        ng-model="article.body"
        placeholder="Please enter {{::article.type}}, drop or paste image here">
        {{::article.body}}
      </textarea>
    </div>
    <div ng-show="tab=='preview'" ngd-markdown-preview id="pv">
    </div>
    <input type="submit" ng-disabled="!form.$valid" value="Save" /> 
  </form>
  <div ngd-image-preview height="60"></div>
</div>
