<head>
  <title>{{::article.getTitle()}}</title>
  <meta itemprop="image" property="og:image" content="{{::article.getImage()}}" /> <!-- image for Facebook -->
</head>
<div class="paper margin-0" id="article">{{::article.getBodyHtml()}}</div>
<small>updated {{::article.fromNow(scope.article.updatedAt)}}</small>
<br class="clearfix" />

<div id="social-links" class="pull-left padding-5">
  <a href="https://twitter.com/intent/tweet?text={{::article.getTitle()}}&url={{locationEncoded}}" target="_blank">
    <md-tooltip>Share this article on Twitter</md-tooltip>
    <i class="fa fa-2x fa-twitter"></i>
  </a>
  &nbsp;
  <a href="https://www.facebook.com/sharer/sharer.php?u={{locationEncoded}}" target="_blank">
    <md-tooltip>Share this article on Facebook</md-tooltip>
    <i class="fa fa-2x fa-facebook"></i>
  </a>
  &nbsp;
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{locationEncoded}}&title={{::article.getTitle()}}"
    target="_blank">
    <md-tooltip>Share this article on LinkedIn</md-tooltip>
    <i class="fa fa-2x fa-linkedin"></i>
  </a>
  &nbsp;
  <a href="https://www.tumblr.com/share/link?url={{locationEncoded}}&name={{::article.getTitle()}}&description={{::article.getSummary()}}&source={{::article.getImage()}}"
    target="_blank">
    <md-tooltip>Share this article on Tumblr</md-tooltip>
    <i class="fa fa-2x fa-tumblr"></i>
  </a>
  &nbsp;
  <a href="https://plus.google.com/share?url={{locationEncoded}}"
    target="_blank">
    <md-tooltip>Share this article on Google+</md-tooltip>
    <i class="fa fa-2x fa-google-plus"></i>
  </a>
</div>

<div class="pull-right">
  <md-button ng-if="Auth.isLoggedIn()" aria-label="update" href="/articles/{{::article._id}}/update" class="md-fab md-primary margin-5">
    <md-tooltip>Update This Article </md-tooltip>
    <md-icon icon="http://google.github.io/material-design-icons/image/svg/ic_edit_24px.svg"></md-icon>
  </md-button>
  <md-button aria-label="list" href="/articles" class="md-fab md-primary margin-5">
    <md-tooltip>List All Articles </md-tooltip>
    <md-icon icon="http://google.github.io/material-design-icons/action/svg/ic_list_24px.svg"></md-icon>
  </md-button>
  <md-button  ng-if="Auth.isLoggedIn()" aria-label="delete" href="/articles/{{::article._id}}/destroy" class="md-fab md-primary margin-5">
    <md-tooltip>Delete This Article </md-tooltip>
    <md-icon icon="http://google.github.io/material-design-icons/content/svg/ic_clear_24px.svg"></md-icon>
  </md-button>
</div>

