<head>
  <script src="/static/articles/articles-list-controller.js"></script>
</head>

<div id="articles" class="columns-3">
  <div class="article paper" ng-repeat="article in articles" bind-once href="/articles/{{::article._id}}">
    <a class="title" href="/articles/{{::article._id}}">
      <h2>{{::article.body.match(/(.*)\n?/)[1]}}</h2>
      <div class="summary">
        {{::article.getSummary()}}
        <span class="time">{{::article.fromNow(scope.article.createdAt)}}</span>
      </div>
    </a>
  </div>
  <div ng-if="Auth.isLoggedIn()" class="article">
    <md-button aria-label="create" href="/articles/create" class="md-fab md-primary margin-5" aria-label="Create">
      <md-tooltip> Create A New Article </md-tooltip>
      <md-icon icon="http://google.github.io/material-design-icons/content/svg/ic_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>
    </md-button>
  </div>
</div>

