<head>
  <script src="/static/articles/image.js"></script>
  <script src="/static/articles/articles-create-controller.js"></script>
  <style>
    .dragover {background: green}
    .tabs::after {
      display: table;
      content: "";
      clear: both;
    }
    .tabs a {
      padding: 1rem;
    }
    .tab-contents {
      margin: 10px 0;
    }
    textarea {
      width: 100%;
      font-family: courier;
    }
  </style>
</head>

<div ng-controller="ArticlesCreateController">
  <form novalidate name="form" ng-submit="save()">
    <div class="tabs" layout ng-init="tab='edit'">
      <a href="" ng-class="{paper: tab == 'edit'}" ng-click="tab='edit'">Edit</a>
      <a href="" ng-class="{paper: tab == 'preview'}" ng-click="preview()">Preview</a>
      <div flex layout layout-align="end">
        <md-button aria-label="save" class="md-primary md-raised margin-5" type="submit" ng-disabled="!form.$valid" /> 
          <md-tooltip>Save This Article</md-tooltip>
          Save
        </md-button>
      </div>
    </div>
    <div class="tab-contents">
      <textarea name="body"  
        ng-show="tab=='edit'" 
        class="paper" autofocus required wrap="off" cols="80" rows="10"
        ng-model="article.body"
        ngd-auto-height
        ngd-image-drop
        ngd-image-paste
        ng-model="article.body"
        placeholder="Please enter {{article.type}}, drop or paste image here">
      </textarea>
      <div class="preview paper" 
        ng-show="tab=='preview'" ngd-markdown-preview id="pv">
      </div>
    </div>

    <div layout layout-align="end">
      <md-button aria-label="list" href="/articles" class="md-fab md-primary margin-5">
        <md-tooltip>List All Articles </md-tooltip>
        <md-icon icon="http://google.github.io/material-design-icons/action/svg/ic_list_24px.svg"></md-icon>
      </md-button>
    </div>
  </form>
  <div ngd-image-preview height="60"></div>
</div>
