<head>
  <script src="/static/articles/articles-destroy-controller.js"></script>
  <ngd-script src="/articles/{{::article._id}}.json" scope-var="article"></ngd-script>
</head>

<div ng-controller="ArticlesDestroyController">
  <div layout layout-align="center center">
    <h2>Are you sure to delete this?</h2>
    <md-button aria-label="confirm" class="md-primary md-raised margin-5" ng-click="destroy()">
      Yes, I am sure.
    </md-button>
  </div>
  <pre class="paper" ngd-markdown-preview>{{::article.body}}</pre>
  <div class="pull-left">
    <small>updated {{::article.fromNow(scope.article.updatedAt)}}</small>
  </div>
  <div class="pull-right">
    <md-button aria-label="update" href="/articles/{{::article._id}}/update" class="md-fab margin-5">
      <md-tooltip>Update This Article </md-tooltip>
      <md-icon icon="http://google.github.io/material-design-icons/image/svg/ic_edit_24px.svg"></md-icon>
    </md-button>
    <md-button aria-label="list" href="/articles" class="md-fab margin-5">
      <md-tooltip>List All Articles </md-tooltip>
      <md-icon icon="http://google.github.io/material-design-icons/action/svg/ic_list_24px.svg"></md-icon>
    </md-button>
  </div>
</div>
