<head>
  <script src="/static/articles/image.js"></script>
  <script src="/static/articles/articles-update-controller.js"></script>
  <ngd-script src="/articles/{{::article._id}}.json" scope-var="article"></ngd-script>
  <style>
    .dragover {background: green}
    .tabs::after {
      display: table;
      content: "";
      clear: both;
    }
    .tabs a {
      padding: 10px;
    }
    .tab-contents {
      margin: 10px 0;
    }
    textarea {
      width: 100%;
      font-family: courier;
    }
  </style>
</head>

<div ng-controller="ArticlesUpdateController">
  <form novalidate name="form" ng-submit="save()" ngd-form-unsaved>
    <div class="tabs" layout ng-init="tab='edit'">
      <a href="" ng-class="{paper: tab == 'edit'}" ng-click="tab='edit'">Edit</a>
      <a href="" ng-class="{paper: tab == 'preview'}" ng-click="preview()">Preview</a>
      <div flex layout layout-align="end">
        <md-button class="md-primary md-raised" type="submit" ng-disabled="!form.$valid" /> 
          <md-tooltip>Save This Article</md-tooltip>
          <md-icon icon="http://google.github.io/material-design-icons/content/svg/ic_save_24px.svg"></md-icon>
        </md-button>
      </div>
    </div>
    <div class="tab-contents">
      <textarea name="body" 
        ng-show="tab=='edit'"
        class="paper"
        autofocus required wrap="off" cols="80" rows="10"
        ng-model="article.body"
        ngd-auto-height
        ngd-image-drop
        ngd-image-paste
        ng-model="article.body"
        placeholder="Please enter {{::article.type}}, drop or paste image here">
        {{::article.body}}
      </textarea>
      <div class="paper"
        ng-show="tab=='preview'" ngd-markdown-preview id="pv">
      </div>
    </div>
  </form>
  <div class="paper" ngd-image-preview height="60"></div>
  <div layout layout-align="end">
    <md-button href=""/articles/{{::article._id}}"" class="md-fab margin-5">
      <md-tooltip>Read This Article</md-tooltip>
      <md-icon icon="http://google.github.io/material-design-icons/maps/svg/ic_local_library_24px.svg"></md-icon>
    </md-button>
    <md-button href="/articles" class="md-fab margin-5">
      <md-tooltip>List All Articles </md-tooltip>
      <md-icon icon="http://google.github.io/material-design-icons/action/svg/ic_list_24px.svg"></md-icon>
    </md-button>
    <md-button href="/articles/{{::article._id}}/destroy" class="md-fab margin-5">
      <md-tooltip>Delete This Articles </md-tooltip>
      <md-icon icon="http://google.github.io/material-design-icons/action/svg/ic_delete_24px.svg"></md-icon>
    </md-button>
  </div>
</div>
