<head>
  <script src="/static/js/lib/angularjs-directives/ngd-markdown-preview.js"></script>
  <style>
    pre[ngd-markdown-preview] {
      font-family: inherit;
      white-space: normal;
      font-size: inherit;
    }
  </style>
</head>

<pre ngd-markdown-preview id="mp1">{{::article.body}}</pre>
<div>
  <div>Created At:{{::article.createdAt}} </div> 
  <div>Updated At: {{::article.updatedAt}} </div>
  <div>Type: {{::article.type}} </div>
  Actions:
  <a href="/articles/{{::article._id}}/update">Edit</a>
  <a href="/" class="btn btn-default">List</a> 
  <a href="/articles/{{::article._id}}/destroy">Delete</a> 
</div>
