<head>
  <script src="/static/articles/create/articles-create-controller.js"></script>
  <script src="/static/js/lib/angularjs-directives/ngd-auto-height.js"></script>
  <script src="/static/js/lib/angularjs-directives/ngd-image-drop.js"></script>
  <script src="/static/js/lib/angularjs-directives/ngd-image-paste.js"></script>
  <script src="/static/js/lib/angularjs-directives/ngd-image-preview.js"></script>
  <script src="/static/js/lib/angularjs-directives/ngd-markdown-preview.js"></script>
  <style>
    .dragover {background: green}
  </style>
</head>

<div ng-controller="ArticlesCreateController">
  Actions:
  <a href="/articles/{{::article._id}}">Show</a>
  <a href="/" class="btn btn-default">List</a> 
  <a href="/articles/{{::article._id}}/destroy">Delete</a> 
  <form novalidate name="form" ng-submit="save()" ngd-form-unsaved>
    <div id="tabs" ng-init="tab='edit'">
      <a href="" class="tab" ng-click="tab='edit'">Edit</a>
      <a href="" class="tab" ng-click="preview()">Preview</a>
    </div>
    <div ng-show="tab=='edit'">
      <textarea name="body" autofocus required wrap="off" cols="80" rows="10"
        ng-model="article.body"
        ngd-auto-height
        ngd-image-drop
        ngd-image-paste
        ng-model="article.body"
        placeholder="Please enter {{::article.type}}, drop or paste image here">
      </textarea>
    </div>
    <div ng-show="tab=='preview'" ngd-markdown-preview id="pv">
    </div>
    <input type="submit" ng-disabled="!form.$valid" value="Save" /> 
  </form>
  <div ngd-image-preview></div>
</div>
