html, body {
  width: 100%; height: 100%;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
}
a {
  color: inherit;
  text-decoration: none;
}

/**
 * general classes
 */
.red { color: red; }
.green { color: green; }
.paper { box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26); border: none; padding: 10px; background: #f8f8f8; }
.margin-10 { margin: 1rem; }
.margin-5  { margin: 0.5rem; }
.margin-0  { margin: 0; }
.padding-10 { padding: 1rem; }
.padding-5  { padding: 0.5rem; }
.padding-0  { margin: 0; }
.round-0  { border-radius: 0 }
.round-5  { border-radius: 0.5rem }
.round-10  { border-radius: 1rem }
.bg-white  { background-color: #fff }
.text-shadow { text-shadow: 1px 1px 1px #000; }
.text-left {text-align: left}
.text-right {text-align: right}
.text-center {text-align: center}

/*
 * backgrounds 
 */
.fadeout {
  background-color: transparent;
  -webkit-animation: target-fade 3s 1;
  -moz-animation: target-fade 3s 1;
}
@-webkit-keyframes target-fade {
    0% { background-color: #fff; }
    100% { background-color:transparent }
}
@-moz-keyframes target-fade {
    0% { background-color: #fff; }
    100% { background-color:transparent }
}
.background-mantle {
  background-color: #514A9D;
  background: -webkit-linear-gradient(0deg,#24C6DC 10%,#514A9D 90%);
  background: linear-gradient(90deg,#24C6DC 10%,#514A9D 90%);
}

/**
 * layout-specific
 */
canvas#background {
  position:fixed;
  z-index: 1;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
}
#login-status {
  width: 25%;
}

/**
 * contents-specific
 */
#contents {
  z-index: 2;
  max-width: 80rem;
  width: 100%;
  min-height: 100%;
  overflow: auto;
}
#contents > header {
  position: relative;
  border:1px solid rgba(255,255,255,0.5);
}
#contents > header:before {
  background-image: url(/static/images/bg1.jpg);
  background-size: 100% auto;
  content:"";
  display: block;
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  z-index: -2;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  border-radius: 0.5rem;
}

#contents > header.bg1:before { background-image: url(/static/images/bg1.jpg); }
#contents > header.bg2:before { background-image: url(/static/images/bg2.jpg); }
#contents > header.bg3:before { background-image: url(/static/images/bg3.jpg); }
#contents > header.bg4:before { background-image: url(/static/images/bg4.jpg); }
#contents > header.bg5:before { background-image: url(/static/images/bg5.jpg); }

#contents > header a {
  color: #fff;
}
#contents > header > div {
  color:#fff;
  height:10em;
}
#contents > header > div #logo {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
#contents > header > div#login-status {
  border-radius: 0 0.5rem 0.5rem 0;
}
#contents > section {
  min-height: 50%; 
}
#contents footer {
  background-color: rgba(255,255,255, 0.8);
  text-align: right;
  font-size: 0.9em;
}

/**
 * markdown-preview-related 
 */
pre[ngd-markdown-preview] {
  font-family: inherit;
  white-space: normal;
  font-size: inherit;
}

/**
 * RWD-related, Responsive Web Design
 */
@media only screen and (max-width: 640px) {
  *[hide-only=sm] {
    display: none;
  }
}

/**
 * material design fixes 
 */
/* https://github.com/angular/material/issues/590 */
md-tooltip { 
  position: fixed
}

/* https://github.com/angular/material/issues/591 */
md-button.md-fab > a {
  line-height: 4.9rem; // 56(height)-12(padding)+5(margin)
}

