html, body {
  width: 100%; 
  height: 100%;
}
html {
  font-size: 10px;
  background-image:url(/static/images/bg4.jpeg);
  background-repeat:no-repeat;
  background-position: top center; 
  background-attachment: fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  background: transparent;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
}
a {
  color: #999;
  text-decoration: none;
}
pre {
  overflow: auto;
}

/**
 * general classes
 */
.red { color: red; }
.white { color: white; }
.green { color: green; }
.c-666 { color: #666; }
.c-999 { color: #999; }
.c-aaa { color: #aaa; }
.c-ddd { color: #ddd; }
.paper { box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26); border: none; padding: 10px; background: #f8f8f8; }
.margin-10 { margin: 1rem; }
.margin-20 { margin: 1rem; }
.margin-5  { margin: 0.5rem; }
.margin-0  { margin: 0; }
.padding-10 { padding: 1rem; }
.padding-20 { padding: 2rem; }
.padding-5  { padding: 0.5rem; }
.padding-0  { margin: 0; }
.round-0  { border-radius: 0 }
.round-5  { border-radius: 0.5rem }
.round-10  { border-radius: 1rem }
.round-20  { border-radius: 2rem }
.bg-white  { background-color: #fff }
.text-shadow { text-shadow:0px 1px 1px #333;}
.text-left {text-align: left}
.text-right {text-align: right}
.text-center {text-align: center}
.inline-block {display:inline-block}
.border-1 {border: 1px solid #ccc}
.clearfix:after, .clear-fix:after, .clear-float:after { content: ""; display: table; clear: both; }
.center {text-align: center}
.full-height { height: 100%}
.px1 {line-height: 1px; font-size: 1px}
.columns-3 {
  -webkit-column-count: 3
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-width: 340px;
     -moz-column-width: 340px;
          column-width: 340px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-column-rule: 1px dotted #ddd;
    -moz-column-rule: 1px dotted #ddd;
          column-rule: 1px dotted #ddd;
}

/*
 * backgrounds 
 */

/**
 * layout-specific
 */
#contents-wrapper {
}

/**
 * contents-specific
 */
#contents {
  max-width: 800px;
  margin: 0 auto;
}
#contents section {
  background: rgba(255,255,255, 0.7);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),   rgba(255, 255, 255, 0.3));
}

#contents footer {
  font-size: 0.9em;
}
#contents footer a {
  color: #ddd;
}

/**
 * markdown-preview-related 
 */
pre[ngd-markdown-preview] {
  font-family: inherit;
  white-space: normal;
  font-size: inherit;
  overflow: auto;
  column-count: 1;
  -webkit-column-width: 300px;
  -moz-column-width: 300px;
  column-width: 300px;
}

pre[ngd-markdown-preview] pre {
  width: 100%;
  overflow: auto;
}

/**
 * RWD-related, Responsive Web Design
 */
@media only screen and (max-width: 640px) {
  *[hide-only=sm] {
    display: none;
  }
}

/**
 * material design fixes 
 */
/* https://github.com/angular/material/issues/590 0.7-rc1 */
md-tooltip { 
  position: fixed
}


/* https://github.com/angular/material/issues/591 */
md-button.md-fab > a {
  line-height: 4.9rem; // 56(height)-12(padding)+5(margin)
}

/**
 * articles-list
 */
div#articles div.article {
  margin-bottom: 2rem;
  display: inline-block;
  word-wrap: break-word;
  width: 100%;
}
div#articles .title {
  color: #333;
}
div#articles .summary {
  font-size: 1.3rem;
  color: #aaa;
}
div#articles .time {
  font-size: 1.2rem;
  color: #333;
}

/**
 * articles-read
 */
#social-links a {
  color: #333;
}
#social-links a:hover {
  color: #fff;
}
